body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: ArtifaktElement;
}

input, button, textarea {
    font-family: ArtifaktElement;
    font-size: 1em;
}

#header {
    position: absolute;
    top: 0;
    height: 3em;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#left-sidebar {
    position: absolute;
    top: 3em;
    left: 0;
    width: 20%;
    bottom: 0;
    overflow-y: auto;
}

#right-sidebar {
    position: absolute;
    top: 3em;
    right: 0;
    width: 25%;
    bottom: 0;
    overflow-y: auto;
}

#preview {
    position: absolute;
    left: 20%;
    right: 25%;
    top: 3em;
    bottom: 0;
    overflow: hidden;
}

#header > * {
    height: 2em;
    margin: 0 0.5em;
}

#header .title {
    height: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: large;
}

.icon-hub:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/apps-16.svg); /* or https://raw.githubusercontent.com/primer/octicons/main/icons/stack-16.svg */
    background-size: cover;
}

.icon-project:before {
    
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/project-16.svg); /* or https://raw.githubusercontent.com/primer/octicons/main/icons/organization-16.svg */
    background-size: cover;
}

.icon-my-folder:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/file-directory-16.svg);
    background-size: cover;
}

.icon-item:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/file-16.svg);
    background-size: cover;
}

.icon-version:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/clock-16.svg);
    background-size: cover;
}
